
.layout {
    max-width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "sidebar body";
    gap: 8px;
}

.sidebar { grid-area: sidebar; }
.body { grid-area: body; resize: vertical;
    overflow: auto; }




